# Windows: dùng dấu / để tránh lỗi escape
PHOTOS_ROOT=D:/photos
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=my_album
THUMBNAIL_CACHE_ROOT=./data/thumbnails
# Có thể bỏ comment để dùng FFmpeg đã cài sẵn thay vì binary từ ffmpeg-static
# FFMPEG_PATH=C:/ffmpeg/bin/ffmpeg.exe
JWT_SECRET=doi-chuoi-nay-thanh-mot-chuoi-ngau-nhien-rat-dai
PORT=3001
NODE_ENV=development
